*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Package Files #
*.jar
*.war
*.ear

# Folders #
nbproject/
projsnippet_routine/
tempDir/
dist/
lib/
build/
.svn/
config/system.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
